@using Common
@{
    ViewBag.Title = "AdSetDepartments";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<style>
    .select2-chosen {
        margin-right: 26px;
        display: inline !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        float: none;
        width: auto;
    }
</style>
@model Model.TableModel.DepartView
@Html.RenderCss("/Content/Style/treeStyle.css", "/Content/assets/plugins/select2/css/select2.min.css", "/Content/assets/plugins/select2/select2.css")
<div class="page-header">
    <div class="pull-left">
        <ol class="breadcrumb visible-sm visible-md visible-lg">
            <li><a href="#"><i class="icon fa fa-cogs"></i>Setting</a></li>
            <li><a href="#">Departments</a></li>
        </ol>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default bk-bg-white">
        <div class="panel-heading bk-bg-white">
            <h6><i class="fa fa-indent red"></i>Deartment Infomation</h6>
            <div class="panel-actions">
                <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
                      @*<a href="#" class="btn-closeiniframe"><i class="fa fa-times"></i></a>*@
            </div>
        </div>
        <div class="panel-body">
            <div id="tableWrapper">
                <div class="tree clearfix">
                    <ul style="float: none;">
                        <li class="parent_li" name="li_0">
                            @if (Model != null)
                            {
                                <span title="展开部门" id="span_@Model.DesId" data-id="@Model.DesId" data-parentid="0" data-parentname="无" style="padding:0px 8px;">@Model.BDDeptName</span>
                                    <a href="#departmentModal" class="btn bk-margin-right-5 btn-secondary-add  btn-success" id="btnAdd_@Model.DesId" style="margin-left:20px;">New Department</a>
                                    <ul id="firstUL" style="float: none"></ul>
                            }
                            else
                            {
                                <a href="#departmentModal" class="btn bk-margin-right-5 btn-secondary-add  btn-success" id="btnAdd_@Model.DesId" style="margin-left:20px;">新增部门</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="departmentModal" class="modal-block modal-block-primary mfp-hide">
    <div class="panel panel-default">
        @Html.Partial("DepartmentCreate")
    </div>
</div>

<script id="modal-template" type="text/x-custom-template">
    <div id="modalBasic" class="modal-block">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Are you sure?</h2>
            </div>
            <div class="panel-body bk-noradius">
                <div class="modal-wrapper">
                    <div class="modal-text">
                        <p>Are you sure that you want to Update this department?</p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-info" id="modal-conform">Confirm</button>
                        <button class="btn btn-default modal-dismiss">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


@Html.RenderJs("/Content/assets/plugins/magnific-popup/js/magnific-popup.js", "/Content/assets/js/pages/ui-modals.js")
@Html.RenderJs("/Content/assets/plugins/select2/js/select2.full.min.js", "/Content/assets/plugins/select2/select2.js")
<script src="~/Content/Home/Department.js?v=@CommonHelper.JsVision()"></script>
<script language="javascript">
    PageInit();
</script>
