@using Model.Material;
@model MaterialSearchResultModel

@{
    ViewBag.Title = "Search";
}


<table class="table table-bordered table-striped dataTable no-footer" id="datatable-tabletools" role="grid" aria-describedby="datatable-tabletools_info">
    <thead>
        <tr role="row">
            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 11%;">Process type</th>
            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 11%;">Customer</th>
            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 11%;">RA SAP P/N</th>
            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 11%;">Part Name</th>
            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 11%;">Cycletime</th>
            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 11%;">Mold No</th>
            @*<th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 11%;">Work Order</th>*@
            <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 5%;">Edit</th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Models.Count() > 0)
        {
            foreach (var item in Model.Models)
            {
                <tr class="gradeA odd" role="row">
                    <td>@item.MIProcessType</td>
                    <td>@item.MICustomer</td>
                    <td>@item.MISapPN</td>
                    <td>@item.MIProductName</td>
                    <td>@item.MICycletime</td>
                    <td>@item.MIMoldNo</td> 
                    <td>
                        <a href="#modalForm" class="on-default edit-row materialRow" onclick="EditMaterial(@item.Id)"><i class="fa fa-pencil"></i></a>
                        <a class="on-default remove-row" onclick="DeleteMaterial(@item.Id)"><i class='fa fa-trash-o'></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td style="text-align:center" colspan="7">NoResult</td>
            </tr>
        }
    </tbody>
</table>
<!-- pager -->
@if (Model.Page.EndPage >= 1)
{
    <ul class="pagination">
        @if (Model.Page.CurrentPage > 1)
        {
            <li>
                <a href="javascript:void(0)" onclick="SearchMaterialList(1)">First</a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="SearchMaterialList(@(Model.Page.CurrentPage - 1))">Previous</a>
            </li>
        }

        @for (var page = Model.Page.StartPage; page <= Model.Page.EndPage; page++)
        {
            <li class="@(page == Model.Page.CurrentPage ? "active" : "")">
                <a href="javascript:void(0)" onclick="SearchMaterialList(@page)">@page</a>
            </li>
        }
        @if (Model.Page.CurrentPage < Model.Page.TotalPages)
        {
            <li>
                <a href="javascript:void(0)" onclick="SearchMaterialList(@(Model.Page.CurrentPage + 1))">Next</a>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="SearchMaterialList(@(Model.Page.TotalPages))">Last</a>
            </li>
        }
    </ul>
}
